<div class="auth-container">
  <% if flash[:alert] %>
    <div class="flash-message flash-alert" data-turbo-temporary>
      <%= flash[:alert] %>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="flash-message flash-notice" data-turbo-temporary>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="auth-form">
    <h1>Sign in to Gournal</h1>
    
    <%= form_with url: session_path, local: true do |form| %>
      <div class="form-field">
        <%= form.label :email_address, "Email" %>
        <%= form.email_field :email_address, 
            required: true, 
            autofocus: true, 
            autocomplete: "username",
            placeholder: "your@email.com",
            value: params[:email_address] %>
      </div>
      
      <div class="form-field">
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, 
            required: true, 
            autocomplete: "current-password",
            placeholder: "••••••••",
            maxlength: 72 %>
      </div>
      
      <div class="form-submit">
        <%= form.submit "Sign in" %>
      </div>
    <% end %>
    
    <div class="form-links">
      <%= link_to "Create an account", new_user_path %>
    </div>
  </div>
</div>