<div class="style-guide-section">
  <h3>Random Checkbox Combinations</h3>
  <p>Randomly mixed box and fill variations to showcase the variety possible:</p>
  
  <div class="checkbox-variations">
    <!-- Random combinations using the mix-and-match partial -->
    <%= render 'style_guide/checkbox_mixed', box: 4, fill: 'blotch_2' %>
    <%= render 'style_guide/checkbox_mixed', box: 7, fill: 'x_5' %>
    <%= render 'style_guide/checkbox_mixed', box: 1, fill: 'blotch_8' %>
    <%= render 'style_guide/checkbox_mixed', box: 9, fill: 'x_1' %>
    <%= render 'style_guide/checkbox_mixed', box: 3, fill: 'blotch_6' %>
    
    <%= render 'style_guide/checkbox_mixed', box: 8, fill: 'x_9' %>
    <%= render 'style_guide/checkbox_mixed', box: 2, fill: 'blotch_4' %>
    <%= render 'style_guide/checkbox_mixed', box: 6, fill: 'x_3' %>
    <%= render 'style_guide/checkbox_mixed', box: 5, fill: 'blotch_1' %>
    <%= render 'style_guide/checkbox_mixed', box: 0, fill: 'x_7' %>
    
    <%= render 'style_guide/checkbox_mixed', box: 1, fill: 'blotch_9' %>
    <%= render 'style_guide/checkbox_mixed', box: 8, fill: 'x_0' %>
    <%= render 'style_guide/checkbox_mixed', box: 3, fill: 'blotch_5' %>
    <%= render 'style_guide/checkbox_mixed', box: 7, fill: 'x_8' %>
    <%= render 'style_guide/checkbox_mixed', box: 4, fill: 'blotch_3' %>
    
    <%= render 'style_guide/checkbox_mixed', box: 9, fill: 'x_6' %>
    <%= render 'style_guide/checkbox_mixed', box: 2, fill: 'blotch_7' %>
    <%= render 'style_guide/checkbox_mixed', box: 6, fill: 'x_2' %>
    <%= render 'style_guide/checkbox_mixed', box: 5, fill: 'blotch_0' %>
    <%= render 'style_guide/checkbox_mixed', box: 0, fill: 'x_4' %>
  </div>
  
  <div class="note">
    <p><em>Each checkbox combines a unique box outline (0-9) with a unique fill pattern (blotch_0-9 or x_0-9), demonstrating the 200+ possible combinations available.</em></p>
  </div>
</div>