<div class="style-guide-section">
  <h3>Random Checkbox Combinations</h3>
  <p>Randomly mixed box and fill variations to showcase the variety possible:</p>
  
  <div class="checkbox-variations">
    <!-- Random combinations using the habit_checkbox helper -->
    <%= habit_checkbox(box_variant: 4, fill_variant: 2, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 7, fill_variant: 5, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 1, fill_variant: 8, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 9, fill_variant: 1, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 3, fill_variant: 6, fill_style: :blot) %>
    
    <%= habit_checkbox(box_variant: 8, fill_variant: 9, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 2, fill_variant: 4, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 6, fill_variant: 3, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 5, fill_variant: 1, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 0, fill_variant: 7, fill_style: :x) %>
    
    <%= habit_checkbox(box_variant: 1, fill_variant: 9, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 8, fill_variant: 0, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 3, fill_variant: 5, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 7, fill_variant: 8, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 4, fill_variant: 3, fill_style: :blot) %>
    
    <%= habit_checkbox(box_variant: 9, fill_variant: 6, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 2, fill_variant: 7, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 6, fill_variant: 2, fill_style: :x) %>
    <%= habit_checkbox(box_variant: 5, fill_variant: 0, fill_style: :blot) %>
    <%= habit_checkbox(box_variant: 0, fill_variant: 4, fill_style: :x) %>
  </div>
  
  <div class="note">
    <p><em>Each checkbox combines a unique box outline (0-9) with a unique fill pattern (blot_0-9 or x_0-9), demonstrating the 200+ possible combinations available.</em></p>
  </div>
</div>