<div class="subsection">
  <h3 class="subsection-title">Box Variations (10 Styles)</h3>
  <div class="checkbox-showcase">
    <div class="checkbox-grid">
      <%= render 'style_guide/checkbox_box_0' %>
      <%= render 'style_guide/checkbox_box_1' %>
      <%= render 'style_guide/checkbox_box_2' %>
      <%= render 'style_guide/checkbox_box_3' %>
      <%= render 'style_guide/checkbox_box_4' %>
      <%= render 'style_guide/checkbox_box_5' %>
      <%= render 'style_guide/checkbox_box_6' %>
      <%= render 'style_guide/checkbox_box_7' %>
      <%= render 'style_guide/checkbox_box_8' %>
      <%= render 'style_guide/checkbox_box_9' %>
    </div>
  </div>
</div>