<div class="subsection">
  <h3 class="subsection-title">X Mark Variations (10 Styles)</h3>
  <div class="checkbox-showcase">
    <div class="checkbox-grid">
      <%= render 'style_guide/checkbox_x_0' %>
      <%= render 'style_guide/checkbox_x_1' %>
      <%= render 'style_guide/checkbox_x_2' %>
      <%= render 'style_guide/checkbox_x_3' %>
      <%= render 'style_guide/checkbox_x_4' %>
      <%= render 'style_guide/checkbox_x_5' %>
      <%= render 'style_guide/checkbox_x_6' %>
      <%= render 'style_guide/checkbox_x_7' %>
      <%= render 'style_guide/checkbox_x_8' %>
      <%= render 'style_guide/checkbox_x_9' %>
    </div>
  </div>
</div>