<div class="subsection">
  <h3 class="subsection-title">Filled Checkbox Variations (10 Styles)</h3>
  <div class="checkbox-showcase">
    <div class="checkbox-grid">
      <%= render 'style_guide/checkbox_filled_0' %>
      <%= render 'style_guide/checkbox_filled_1' %>
      <%= render 'style_guide/checkbox_filled_2' %>
      <%= render 'style_guide/checkbox_filled_3' %>
      <%= render 'style_guide/checkbox_filled_4' %>
      <%= render 'style_guide/checkbox_filled_5' %>
      <%= render 'style_guide/checkbox_filled_6' %>
      <%= render 'style_guide/checkbox_filled_7' %>
      <%= render 'style_guide/checkbox_filled_8' %>
      <%= render 'style_guide/checkbox_filled_9' %>
    </div>
  </div>
</div>