<% content_for :title, "Japanese Bullet Journal Design System" %>

<div class="style-guide-page">
  <div class="design-system-container">
  <div class="style-guide-header">
    <h1>Japanese Bullet Journal Design System</h1>
    <p>Japanese Paper & Fountain Pen Aesthetic</p>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/color_palette' %>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/typography' %>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/spacing_system' %>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/checkbox_variations' %>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/checkbox_mixed_demo' %>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/checkbox_random_variations' %>
  </div>

  <div class="style-guide-section">
    <%= render 'style_guide/checkbox_helper_demo' %>
  </div>
  </div>
</div>